[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
kagglehub = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
scipy = "*"
pyarrow = ">=15.0.0"
mlflow = "*"
xgboost = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
